# Preprocess hospitalizations dataframe

We are interested in hospitals who reported Covid 19 patients, so we'll dertive it from the dataset at healthdata.gov:  
*COVID-19 Reported Patient Impact and Hospital Capacity by Facility*  
From healthdata.gov:
> These are derived from reports with facility-level granularity across two main sources: (1) HHS TeleTracking, and (2) reporting provided directly to HHS Protect by state/territorial health departments on behalf of their healthcare facilities. The hospital population includes all hospitals registered with Centers for Medicare & Medicaid Services (CMS) as of June 1, 2020. It includes non-CMS hospitals that have reported since July 15, 2020.
* Each row is hospital's weekly summary of daily data on Covid 19 patients, amongst other stats
* There are 52 reporting periods (52 weeks) spanning Aug 2020 through Jul 2021
* The best description of each of the 109 features is on the data's page on healthcare.gov

In [1]:
import pandas as pd
import os

## Read In Data

In [2]:
hospitalizations_raw = pd.read_csv('../../data/CDCdata/COVID-19_Reported_Patient_Impact_and_Hospital_Capacity_by_Facility.csv')
hospitalizations_raw.head()

,hospital_pk,collection_week,state,ccn,hospital_name,address,city,zip,hospital_subtype,fips_code,...,previous_day_admission_pediatric_covid_confirmed_7_day_coverage,previous_day_admission_adult_covid_suspected_7_day_coverage,previous_day_admission_pediatric_covid_suspected_7_day_coverage,previous_week_personnel_covid_vaccinated_doses_administered_7_day,total_personnel_covid_vaccinated_doses_none_7_day,total_personnel_covid_vaccinated_doses_one_7_day,total_personnel_covid_vaccinated_doses_all_7_day,previous_week_patients_covid_vaccinated_doses_one_7_day,previous_week_patients_covid_vaccinated_doses_all_7_day,is_corrected
0,aab2bb3ab769da90baf57242c96ec481afb5ec6a233784...,2021/07/23,LA,NaN,Crescent City Surgical Centre,NaN,NaN,70118.0,Short Term,NaN,...,7,7,7,0.0,64.0,0.0,99.0,0.0,0.0,False
1,ee04edd185865c38c839812cb2eb5ae5d3f8922e3b629e...,2021/07/23,LA,NaN,Alexandria Emergency Hospital,5900 Coliseum Blvd,Alexandria,71303.0,Short Term,NaN,...,7,7,7,0.0,37.0,26.0,26.0,0.0,0.0,False
2,f70d7abf93c78280583ac18e896e6737cca8212b017513...,2021/07/23,NV,NaN,Elite Medical Center,150 E Harmon Ave,Las Vegas,89109.0,Short Term,NaN,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
3,3b081d5ef1c552538e4af4aa593a857bb922a4f364a412...,2021/07/23,LA,NaN,Surgery Center of Zachary,NaN,NaN,70791.0,Short Term,NaN,...,7,7,7,0.0,0.0,0.0,0.0,0.0,0.0,False
4,010108,2021/07/23,AL,010108,PRATTVILLE BAPTIST HOSPITAL,124 S MEMORIAL DR,PRATTVILLE,36067.0,Short Term,1001.0,...,7,7,7,0.0,221.0,0.0,186.0,0.0,0.0,False

In [21]:
hospitalizations_raw.columns

Index(['hospital_pk', 'collection_week', 'state', 'ccn', 'hospital_name',
       'address', 'city', 'zip', 'hospital_subtype', 'fips_code',
       ...
       'previous_day_admission_pediatric_covid_confirmed_7_day_coverage',
       'previous_day_admission_adult_covid_suspected_7_day_coverage',
       'previous_day_admission_pediatric_covid_suspected_7_day_coverage',
       'previous_week_personnel_covid_vaccinated_doses_administered_7_day',
       'total_personnel_covid_vaccinated_doses_none_7_day',
       'total_personnel_covid_vaccinated_doses_one_7_day',
       'total_personnel_covid_vaccinated_doses_all_7_day',
       'previous_week_patients_covid_vaccinated_doses_one_7_day',
       'previous_week_patients_covid_vaccinated_doses_all_7_day',
       'is_corrected'],
      dtype='object', length=106)

In [3]:
hospitalizations_raw.info()

# info not very helpful when abbreviated (due to 106 columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259499 entries, 0 to 259498
Columns: 106 entries, hospital_pk to is_corrected
dtypes: bool(2), float64(71), int64(23), object(10)
memory usage: 206.4+ MB

In [4]:
# Remove unnecessary columns
# hospitalizations_meta is just a temporary structure to facilitate viewing hospital "meta" data
meta_columns = ['hospital_pk', 'state', 'ccn', 'hospital_name', 'address', 'city', 'zip', 'fips_code', 'geocoded_hospital_address', 'hhs_ids', 'collection_week']
hospitalizations_meta = hospitalizations_raw[meta_columns]
hospitalizations_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259499 entries, 0 to 259498
Data columns (total 11 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   hospital_pk                259499 non-null  object
 1   state                      259499 non-null  object
 2   ccn                        258829 non-null  object
 3   hospital_name              259499 non-null  object
 4   address                    259296 non-null  object
 5   city                       259296 non-null  object
 6   zip                        259490 non-null  float64
 7   fips_code                  259076 non-null  float64
 8   geocoded_hospital_address  238341 non-null  object
 9   hhs_ids                    258713 non-null  object
 10  collection_week            259499 non-null  object
dtypes: float64(2), object(9)
memory usage: 21.8+ MB

In [5]:
hospitalizations_meta.head()

,hospital_pk,state,ccn,hospital_name,address,city,zip,fips_code,geocoded_hospital_address,hhs_ids,collection_week
0,aab2bb3ab769da90baf57242c96ec481afb5ec6a233784...,LA,NaN,Crescent City Surgical Centre,NaN,NaN,70118.0,NaN,POINT (-90.123884 29.949725),NaN,2021/07/23
1,ee04edd185865c38c839812cb2eb5ae5d3f8922e3b629e...,LA,NaN,Alexandria Emergency Hospital,5900 Coliseum Blvd,Alexandria,71303.0,NaN,POINT (-92.51048 31.295636),NaN,2021/07/23
2,f70d7abf93c78280583ac18e896e6737cca8212b017513...,NV,NaN,Elite Medical Center,150 E Harmon Ave,Las Vegas,89109.0,NaN,POINT (-115.165444 36.10808),NaN,2021/07/23
3,3b081d5ef1c552538e4af4aa593a857bb922a4f364a412...,LA,NaN,Surgery Center of Zachary,NaN,NaN,70791.0,NaN,POINT (-91.145057 30.655648),NaN,2021/07/23
4,010108,AL,010108,PRATTVILLE BAPTIST HOSPITAL,124 S MEMORIAL DR,PRATTVILLE,36067.0,1001.0,POINT (-86.450936 32.464423),[C010108-A],2021/07/23

## Identify Unique Hospitals
There is one line for every weekly report from each hospital. Thus a given hospital and all of its potential identifiers will be listed dozens of times.

In [6]:
# Count of unique values in each column to help illustrate how complete each individual hospital's profile is
hospitalizations_meta.nunique()

# We see 5067 unique pks and smaller numbers of other identifiers.
# Sidenote: We see 52 collection weeks, as expected

hospital_pk                  5067
state                          55
ccn                          5039
hospital_name                4916
address                      5012
city                         2931
zip                          4460
fips_code                    2470
geocoded_hospital_address    4564
hhs_ids                      5029
collection_week                52
dtype: int64

In [7]:
# How many values in each column are blank (there are 250,000+ rows).
for name in hospitalizations_meta.columns:
    print(f'{name} NaNs:', hospitalizations_meta[name].isna().sum())

hospital_pk NaNs: 0
state NaNs: 0
ccn NaNs: 670
hospital_name NaNs: 0
address NaNs: 203
city NaNs: 203
zip NaNs: 9
fips_code NaNs: 423
geocoded_hospital_address NaNs: 21158
hhs_ids NaNs: 786
collection_week NaNs: 0

In [8]:
# So, does hospital_pk (with no empties and 5067 unique values -- implying 5067 different hospitals) fit the bill?
# Let's assume hospital_name + state uniquely identifies a hospital
# Are all name+state combos thus represented with a single hospital_pk?
group = hospitalizations_raw.groupby(['hospital_name', 'state'])
group['hospital_pk'].nunique().value_counts()

# No, 13 name+state combos have multiple hospital pks.

1    5038
2      10
3       3
Name: hospital_pk, dtype: int64

In [9]:
# What are the multi-pk name+state combos? Let's count reports they generate. There are 52 reporting periods.
# Assume 52 reports from a single name/state/pk combo identifies a single hospital
group['hospital_pk'].value_counts()[group['hospital_pk'].nunique() > 1].sort_index()

hospital_name                                state  hospital_pk
BAXTER REGIONAL MEDICAL CENTER               AR     040027         52
                                                    04T027         38
BAYLOR SCOTT & WHITE MEDICAL CENTER - LLANO  TX     450219         30
                                                    451396         22
COMMUNITY HOSPITALS AND WELLNESS CENTERS     OH     360121         52
                                                    361327         52
COMMUNITY MEMORIAL HOSPITAL                  SD     431309         50
                                                    431316         52
GOOD SAMARITAN HOSPITAL                      CA     050257         52
                                                    050380         52
                                                    050471         52
KETTERING MEDICAL CENTER                     OH     360079         52
                                                    360368         52
MEMORIAL HOSPITAL                            IL     140185         52
                                                    141305         52
                                                    141338         52
                                             NE     281320         52
                                                    281339         52
                                             OH     360092         52
                                                    360156         52
                                             TX     450235         52
                                                    451358         52
                                                    451386         52
SHRINERS HOSPITALS FOR CHILDREN              TX     453311         52
                                                    453312         52
ST MARY MEDICAL CENTER                       CA     050191         52
                                                    050300         52
WAKEMED                                      NC     340069         52
                                                    340173         52
Name: hospital_pk, dtype: int64

In [10]:
# Let's add addresses to this breakdown. 
deeper_group = hospitalizations_raw.groupby(['hospital_name', 'state', 'hospital_pk'])
deeper_group['address'].value_counts()[group['hospital_pk'].nunique() > 1].sort_index()

# We assume a unique name/state/address combo with 52 rows is a single hospital
# Turns out some states had different hospitals with the same name
# Need to now look at those outliers (top 2 names)

hospital_name                                state  hospital_pk  address
BAXTER REGIONAL MEDICAL CENTER               AR     040027       624 HOSPITAL DRIVE                     52
                                                    04T027       624 HOSPITAL DRIVE                     38
BAYLOR SCOTT & WHITE MEDICAL CENTER - LLANO  TX     450219       200 W OLLIE                            30
                                                    451396       200 W OLLIE                            22
COMMUNITY HOSPITALS AND WELLNESS CENTERS     OH     360121       433 WEST HIGH STREET                   52
                                                    361327       909 EAST SNYDER AVENUE                 52
COMMUNITY MEMORIAL HOSPITAL                  SD     431309       809 JACKSON  POST OFFICE BOX 319       50
                                                    431316       111 W 10TH AVE  POST OFFICE BOX 420    52
GOOD SAMARITAN HOSPITAL                      CA     050257       901 OLIVE DRIVE                        52
                                                    050380       2425 SAMARITAN DRIVE                   52
                                                    050471       1225 WILSHIRE BOULEVARD                52
KETTERING MEDICAL CENTER                     OH     360079       3535 SOUTHERN BOULEVARD                52
                                                    360368       600 WEST MAIN STREET                   52
MEMORIAL HOSPITAL                            IL     140185       4500 MEMORIAL DRIVE                    52
                                                    141305       1454 N COUNTY ROAD 2050 E              52
                                                    141338       1900 STATE ST                          52
                                             NE     281320       1423 SEVENTH ST                        52
                                                    281339       300 NORTH COLUMBIA AVE                 52
                                             OH     360092       500 LONDON AVENUE                      52
                                                    360156       715 SOUTH TAFT AVENUE                  52
                                             TX     450235       1110 NORTH SARAH DEWITT DRIVE          52
                                                    451358       209 NORTHWEST 8TH STREET               52
                                                    451386       224 E SECOND STREET                    52
SHRINERS HOSPITALS FOR CHILDREN              TX     453311       815 MARKET STREET                      52
                                                    453312       6977 MAIN STREET                       52
ST MARY MEDICAL CENTER                       CA     050191       1050 LINDEN AVE                        52
                                                    050300       18300 HIGHWAY 18                       52
WAKEMED                                      NC     340069       3000 NEW BERN AVE                      52
                                                    340173       1900 KILDARE FARM ROAD                 52
Name: address, dtype: int64

## Correct Hospital Identifiers (hospital_pk)
Fix these in both the raw hospitalizations dataframe for cases data as well as hospitals (our soon-to-be hospital-to-county mapping data)

In [11]:
# Baxter, you're up... maybe that pk with a "T" is bogus
# Let's look at the relevant patient counts (in original hospitalizations_raw file)...
relelvant_cols = ['previous_day_admission_adult_covid_confirmed_7_day_sum', 'previous_day_admission_pediatric_covid_confirmed_7_day_sum', 'previous_day_admission_adult_covid_suspected_7_day_sum', 'previous_day_admission_pediatric_covid_suspected_7_day_sum']
hospitalizations_raw[hospitalizations_raw['hospital_pk'] == '04T027'][relelvant_cols]

# hospital 04T027 actually reported zero patient admissions over all 38 of its weekly reports... confirmed junk

,previous_day_admission_adult_covid_confirmed_7_day_sum,previous_day_admission_pediatric_covid_confirmed_7_day_sum,previous_day_admission_adult_covid_suspected_7_day_sum,previous_day_admission_pediatric_covid_suspected_7_day_sum
195,0.0,0.0,0.0,0.0
5201,0.0,0.0,0.0,0.0
10205,0.0,0.0,0.0,0.0
15210,0.0,0.0,0.0,0.0
20213,0.0,0.0,0.0,0.0
25215,0.0,0.0,0.0,0.0
30222,0.0,0.0,0.0,0.0
35230,0.0,0.0,0.0,0.0
40238,0.0,0.0,0.0,0.0
45248,0.0,0.0,0.0,0.0
50258,0.0,0.0,0.0,0.0
55267,0.0,0.0,0.0,0.0
60276,0.0,0.0,0.0,0.0
65291,0.0,0.0,0.0,0.0
70307,0.0,0.0,0.0,0.0
75322,0.0,0.0,0.0,0.0
80338,0.0,0.0,0.0,0.0
85352,0.0,0.0,0.0,0.0
90369,0.0,0.0,0.0,0.0
95386,0.0,0.0,0.0,0.0
100403,0.0,0.0,0.0,0.0
105421,0.0,0.0,0.0,0.0
110439,0.0,0.0,0.0,0.0
115457,0.0,0.0,0.0,0.0
120474,0.0,0.0,0.0,0.0
125492,0.0,0.0,0.0,0.0
130508,0.0,0.0,0.0,0.0
135526,0.0,0.0,0.0,0.0
140543,-999999.0,0.0,0.0,0.0
145556,0.0,0.0,0.0,0.0
150577,0.0,0.0,0.0,0.0
155597,0.0,0.0,0.0,0.0
160616,0.0,0.0,0.0,0.0
165633,0.0,0.0,0.0,0.0
170650,0.0,0.0,0.0,0.0
175661,0.0,0.0,0.0,0.0
180670,0.0,0.0,0.0,0.0
185676,0.0,0.0,0.0,0.0

In [12]:
# Remove the junk to fix Baxter
index_todrop = hospitalizations_raw[hospitalizations_raw['hospital_pk'] == '04T027'].index
hospitalizations_raw = hospitalizations_raw.drop(index_todrop)

In [13]:
# Baylor Scott... same address put different pks, total to 52...
# Are the pks for different weeks?
hospitalizations_raw[hospitalizations_raw['hospital_name'] == 'BAYLOR SCOTT & WHITE MEDICAL CENTER - LLANO'][['collection_week', 'hospital_pk']].sort_values('collection_week')

# Yep, assume the pk was simply changed after the '2021/02/19' collection_week

       collection_week hospital_pk
258849      2020/07/31      450219
253964      2020/08/07      450219
249090      2020/08/14      450219
244229      2020/08/21      450219
239361      2020/08/28      450219
234455      2020/09/04      450219
229530      2020/09/11      450219
224606      2020/09/18      450219
219681      2020/09/25      450219
214734      2020/10/02      450219
209766      2020/10/09      450219
204791      2020/10/16      450219
199811      2020/10/23      450219
194818      2020/10/30      450219
189821      2020/11/06      450219
184818      2020/11/13      450219
179810      2020/11/20      450219
174801      2020/11/27      450219
169789      2020/12/04      450219
164773      2020/12/11      450219
159753      2020/12/18      450219
154735      2020/12/25      450219
149714      2021/01/01      450219
144695      2021/01/08      450219
139682      2021/01/15      450219
134665      2021/01/22      450219
129646      2021/01/29      450219
124629      2021/02/05      450219
119612      2021/02/12      450219
114594      2021/02/19      450219
109577      2021/02/26      451396
104558      2021/03/05      451396
99540       2021/03/12      451396
94523       2021/03/19      451396
89506       2021/03/26      451396
84491       2021/04/02      451396
79476       2021/04/09      451396
74460       2021/04/16      451396
69446       2021/04/23      451396
64430       2021/04/30      451396
59416       2021/05/07      451396
54412       2021/05/14      451396
49403       2021/05/21      451396
44393       2021/05/28      451396
39383       2021/06/04      451396
34373       2021/06/11      451396
29365       2021/06/18      451396
24360       2021/06/25      451396
19357       2021/07/02      451396
14355       2021/07/09      451396
9349        2021/07/16      451396
4344        2021/07/23      451396

In [14]:
# update old Baylor Scott pks with new one
hospitalizations_raw['hospital_pk'] = hospitalizations_raw['hospital_pk'].replace('450219', '451396')

In [15]:
# sanity check (assuming name/state/address combo identifies a unique hosptial)
deeper_group = hospitalizations_raw.groupby(['hospital_name', 'state', 'address'])
deeper_group['hospital_pk'].value_counts()[group['hospital_pk'].nunique() > 1].sort_index()

# Since each has 52 reports, we conclude different addresses indicate different hospital

hospital_name                                state  address                              hospital_pk
BAXTER REGIONAL MEDICAL CENTER               AR     624 HOSPITAL DRIVE                   040027         52
BAYLOR SCOTT & WHITE MEDICAL CENTER - LLANO  TX     200 W OLLIE                          451396         52
COMMUNITY HOSPITALS AND WELLNESS CENTERS     OH     433 WEST HIGH STREET                 360121         52
                                                    909 EAST SNYDER AVENUE               361327         52
COMMUNITY MEMORIAL HOSPITAL                  SD     111 W 10TH AVE  POST OFFICE BOX 420  431316         52
                                                    809 JACKSON  POST OFFICE BOX 319     431309         50
GOOD SAMARITAN HOSPITAL                      CA     1225 WILSHIRE BOULEVARD              050471         52
                                                    2425 SAMARITAN DRIVE                 050380         52
                                                    901 OLIVE DRIVE                      050257         52
KETTERING MEDICAL CENTER                     OH     3535 SOUTHERN BOULEVARD              360079         52
                                                    600 WEST MAIN STREET                 360368         52
MEMORIAL HOSPITAL                            IL     1454 N COUNTY ROAD 2050 E            141305         52
                                                    1900 STATE ST                        141338         52
                                                    4500 MEMORIAL DRIVE                  140185         52
                                             NE     1423 SEVENTH ST                      281320         52
                                                    300 NORTH COLUMBIA AVE               281339         52
                                             OH     500 LONDON AVENUE                    360092         52
                                                    715 SOUTH TAFT AVENUE                360156         52
                                             TX     1110 NORTH SARAH DEWITT DRIVE        450235         52
                                                    209 NORTHWEST 8TH STREET             451358         52
                                                    224 E SECOND STREET                  451386         52
SHRINERS HOSPITALS FOR CHILDREN              TX     6977 MAIN STREET                     453312         52
                                                    815 MARKET STREET                    453311         52
ST MARY MEDICAL CENTER                       CA     1050 LINDEN AVE                      050191         52
                                                    18300 HIGHWAY 18                     050300         52
WAKEMED                                      NC     1900 KILDARE FARM ROAD               340173         52
                                                    3000 NEW BERN AVE                    340069         52
Name: hospital_pk, dtype: int64

In [ ]:
# Are there any empty collection_week values?
hospitalizations_raw['collection_week'].isna().sum()

# No

In [17]:
# So how  many unique hospitals?
hospitalizations_raw['hospital_pk'].nunique()

5065

In [18]:
# Did every hospital submit a report every week? There are 52 different collection weeks.
hospitalizations_raw.groupby('hospital_pk')['collection_week'].count().value_counts().sort_index(ascending=False)

# 371 hospitals (7.3%) didn't quite file reports every week, hopefully not a problem

52    4694
51      85
50      46
49      15
48      30
47      21
46      11
45      17
44      21
43      10
42       9
41      12
40      14
39       5
37       5
35       6
34       2
33       4
32       2
31       1
30       1
28       5
26       3
23       2
22       2
16       1
15       2
14       4
13       2
12       1
11       2
10       1
9        3
8        6
7        2
5        1
4        2
3        3
2        3
1        9
Name: collection_week, dtype: int64

## Save Updated Data

In [20]:
if os.path.exists('../../pickles/CDCpickles/hospitalizations_raw.pkl'):
    os.remove('../../pickles/CDCpickles/hospitalizations_raw.pkl')
hospitalizations_raw.to_pickle('../../pickles/CDCpickles/hospitalizations_raw.pkl')